{% extends 'base.html.njk' %}

{% block body %}

    <h1>Welcome, {{ user }}!</h1>
    <div class="fossil-div">

      {% for fossil in fossils%}
      <div class="fossil-card">
      <h3> {{ user }} this is a {{ fossil.name }}</h3>
      <h2>Liked {{ fossil.num_likes }} times.</h2>
      <img src="{{ fossil.img }}" />
      </div>
      {% endfor %}

    <form action="/like-fossil" method="post">
      <label for="like-fossil">Like your favorite fossil!</label>
      <select id="like-fossil" name="like-Fossil" >
        <option>Select one</option>
        <option value="aust">Australopithecus</option>
        <option value="quetz">Quetzal</option>
        <option value="steg">Stegosaurus</option>
        <option value="trex">Tyrannosaurus Rex</option>

        <input type='submit' value="submit" />

    </form>

    </div>

{% endblock %}